@use "variables" as vars;
@use "mixins" as mixs;

.container {
    display: flex;
    flex-direction: column;
    padding: 0 1.25rem;
    height: 100vh;

    @include mixs.desktop {
        padding: 0;
        flex-direction: row;
        height: 100vh;
    }

    &-left, &-right {
        height: 100%;

        @include mixs.desktop {
            flex: 1;
            height: 100%;
        }
    }

    &-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 0;

        @include mixs.desktop {
            display: flex;
            padding: 4rem 0 2rem;
        }

        .content-top {
            @include mixs.desktop {
                margin-left: 60px;
            }

            a {
                font-size: 24px;
                font-weight: vars.$ns-font-medium;
            }
        }

        .content-body {
            margin-top: -2.5rem;

            @include mixs.desktop {
                margin-top: 0;
                margin-left: 60px;
                margin-bottom: 120px;
            }

            .description {
                margin-bottom: 4rem;

                @include mixs.desktop {
                    margin-bottom: 80px;
                }

                h1 {
                    font-weight: vars.$ns-font-semibold;
                    line-height: 1.1;
                    margin-bottom: 1rem;

                    @include mixs.desktop {
                        margin-bottom: 2rem;
                        font-size: 42px;
                    }
                }

                p {
                    font-weight: vars.$ns-font-regular;
                    line-height: 1.5;
                    font-size: 1.125rem;

                    @include mixs.desktop {
                        max-width: 65%;
                    }
                }
            }

            .contact-container {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                @include mixs.desktop {
                    flex-direction: row;
                    gap: 60px;
                }

                .contact-title, .contact-text {
                    font-size: 20px;
                    font-weight: vars.$ns-font-regular;

                    @include mixs.desktop {
                        font-size: 24px;
                        font-weight: vars.$ns-font-medium;
                    }
                }

                .contact-title {
                    color: vars.$ns-grey;
                    margin-bottom: 0.6rem;

                    @include mixs.desktop {
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        .content-bottom {
            display: flex;
            gap: 30px;
            justify-content: space-around;

            @include mixs.desktop {
                justify-content: flex-start;
                margin-left: 60px;
            }
        }
    }

    &-right {
        display: none;
        position: relative;
        height: 250px;

        @include mixs.desktop {
            display: block;
            height: 100%;
        }
    }
}