// Breakpoints
$ns-breakpoints-sm: 0px;
$ns-breakpoints-md: 768px;
$ns-breakpoints-lg: 1280px;
$ns-breakpoints-xl: 1920px;

// Typography
$ns-font-light: 300;
$ns-font-regular: 400;
$ns-font-medium: 500;
$ns-font-semibold: 600;

// Border radius
$ns-radius: 1rem;

// Colours
$ns-black: rgba(0, 0, 0, 1);
$ns-grey: rgba(0, 0, 0, 0.5);
$ns-white: rgba(255, 255, 255, 1);
$ns-yellow: rgba(255, 238, 0, 1);
